* {
    box-sizing:border-box;

}

body {
    background-color:cornflowerblue;
}

.menu {
    border:3px solid green;
}

.gallery-con {
    border:1px solid black;
}

#my-canvas {
    outline:3px solid purple;
    border:3px solid purple;
    background-color:greenyellow;
  }

  .canvas-container {
      text-align:center;
      max-width:500px;
      max-height:500px;
      margin:0 auto;
  }

  .top-canvas-container {
    text-align:center;
    max-width:500px;
    max-height:500px;
    margin:0 auto;
  }
  

  .app {
    margin-left:1rem;
    margin-right:1rem;
  }