.main-container {
  width: 100%;
  /* text-align: left; */
  background-color: #e3e3e3;
  /* margin: 0 auto; */
}

main {
  flex-grow:2;
}
.meme-edit {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}

.meme-edit-con {
    display:none;
    /* min-width: 0; */
    
}
