/* media queries */


@media only screen 
  and (min-device-width: 100px) 
  and (max-device-width: 300px) {

    .menu {
        max-width:95vw;
    }
    /* .menu-button {
          width:10px;
          height:10px;
      } */
    body {
        background-color: purple;
    }
    .menu-button-con {
        display: flex;
    }
    .header-menu-con {
        display:none;
    }
    .meme-edit {
        flex-direction:column;
    }
}
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 650px) {

    .menu-button {
          width:3.125rem;
          height:2.5rem;
      }
    body {
        background-color: black;
    }
    .menu-button-con {
        display: flex;
    }
    .header-menu-con {
        display:none;
    }
    .meme-edit {
        flex-direction:column;
    }
}


@media only screen 
  and (min-device-width: 650px) 
  and (max-device-width: 3000px) {

    .menu-button {
          width:50px;
          height:40px;
      }
    body {
        background-color: white;
    }
    .menu-button-con {
        display: none;
        
    }
    .header-menu-con {
        display:flex;
    }
    .meme-edit {
        flex-direction:row;
    }

}