.gallery-layout {
  padding: 0px;
  width:100%;
  margin: 0 auto;
  text-align: center;
}
.galleryImg {
  width: 10rem;
  height: auto;
  cursor:pointer;
}
.keyword-cloud-item {
  cursor:pointer;
}
.search-gallery {
    padding: 0px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.keyword-cloud-item {
  margin: 5px;
}
.keyword-cloud-item {
  font-weight:900;
  color:black;
  background-color:#ff7f00;

}
.search-wordcloud-desc {
  font-size: 18px;
  color:gray;
}
.search-keyword-cloud > * {
  border-radius:30px;
  border:3px solid #ff7f00;
  padding:8px;
  background-color:#ff7f00;
}
.search-keyword-cloud-con {
  text-align:center;
  /* background-color: aqua; */
}
.search-keyword-cloud {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

#keyword {
  cursor:text;
  height:40px;
  border-radius: 10px;
}
.keyword-desc {
  font-size:20px;
  border-radius: 10px;
  font-family:sans-serif;
}
